<%- include ../includes/header.ejs %>

<title>অফিসার্স রেজিস্ট্রেশন</title>
</head>

<body>
    <%- include('../includes/nav.ejs', {userRole: 'এডমিন'}) %>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form class="p-3" action="/auth/signup?role=<%=userRole%>" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="form-control-label">নাম</label>
                        <input type="text" name="name" placeholder="সম্পূর্ণ নাম লিখুন" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">ই-মেইল</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">মোবাইল নং</label>
                        <input type="text" name="mobile" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">পাসওয়ার্ড</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">ইউজারনেম</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">পদ</label>
                        <select name="role" class="form-control">
                            <option disabled selected>বাছাই করুন.....</option>
                            <option value="এডমিন">এডমিন</option>
                            <option value="ইন্সপেকশন অফিসার">ইন্সপেকশন অফিসার</option>
                            <option value="প্রডাকশন অফিসার">প্রডাকশন অফিসার</option>
                            <option value="ফিল্ড অফিসার">ফিল্ড অফিসার</option>
                        </select>
                    </div>

                    <div class="form-group mt-3">
                        <label>ছবি আপলোড করুন<span>*</span></label>
                        <input type="file" name="image" accept="image/*"><br>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">অফিস আইডি</label>
                        <input type="text" name="office_id" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">রেজিস্ট্রেশন করুন</button>
                </form>
            </div>
        </div>
    </div>


    <%- include ../includes/footer-text.ejs %>

    <%- include ../includes/footer.ejs %>