<%- include ../includes/header.ejs %>

<title>অফিসার তথ্য | <%=userRole%></title>
</head>

<body>
    <%- include('../includes/nav.ejs', {userRole: userRole}) %>

    <%if(userRole == 'এডমিন') { %>
    <section class=" my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 my-1">
                    <a href="/officers-panel?role=<%=userRole%>" class="btn btn-secondary btn-block"><span
                            class="fa fa-arrow-left"></span> অফিসার প্যানেলে ফিরে যান</a>
                </div>
                <div class="col-md-3 my-1">
                    <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#updateProfile"><span
                            class="fa fa-pencil-square-o"></span> প্রোফাইল সম্পাদনা করুন</a>
                </div>

                <div class="col-md-3 my-1">
                    <a href="#" class="btn btn-warning btn-block" data-toggle="modal"
                        data-target="#changePassword"><span class="fa fa-lock"></span> পাসওয়ার্ড পরিবর্তন করুন</a>
                </div>

                <div class="col-md-3 my-1">
                    <a href="#" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteProile"><span
                            class="fa fa-trash"></span> প্রোফাইল ডিলেট করুন</a>
                </div>
            </div>
        </div>
    </section>
    <% } %>



    <div class="container my-5">
        <div class="row">
            <div class="col-md-3 mb-4">
                <img src="/images/<%=user.image%>" class="card-img-top mb-3 rounded-circle">
                <%if(userRole == 'এডমিন') { %>
                <a href="#" data-toggle="modal" data-target="#changePhoto" class="text-muted ml-5"><i
                        class="fa fa-camera"></i> নতুন ছবি যোগ করুন</a>
                <% } %>
            </div>
            <div class="col-md-6 mx-auto">
                <h3 class="text-center">অফিসার সম্পর্কিত সম্পূর্ণ তথ্য</h3>

                <ul class="list-group list-group-flush my-2">
                    <li class="list-group-item">নাম : <%=user.name%></li>
                    <li class="list-group-item">ইউজারনেম : <%=user.username%></li>
                    <li class="list-group-item">ই-মেইল : <%=user.email%></li>
                    <li class="list-group-item">মোবাইল : <%=user.mobile%></li>
                    <li class="list-group-item">পদ : <%=user.role%></li>
                    <li class="list-group-item text-danger font-weight-bold">অফিস আইডি : <%=user.office_id%></li>
                    <li class="list-group-item">যোগদানের তারিখ : <%=user.createdAt.toDateString()%></li>
                    <li class="list-group-item">সর্বশেষ তথ্য হালনাগাদ : <%=user.updatedAt.toDateString()%></li>

                </ul>
            </div>
        </div>
    </div>

    <!-- Update Profile Modal -->
    <div class="modal fade" id="updateProfile">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <form action="/officers/update-profile/<%=user._id%>?role=<%=userRole%>" method="POST">
                        <div class="form-group">
                            <label class="form-control-label">নাম</label>
                            <input type="text" name="name" class="form-control" value="<%=user.name%>">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">ই-মেইল</label>
                            <input type="email" name="email" class="form-control" value="<%=user.email%>">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">মোবাইল</label>
                            <input type="text" name="mobile" class="form-control" value="<%=user.mobile%>">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">ইউজারনেম</label>
                            <input type="text" name="username" class="form-control" value="<%=user.username%>">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">পদ</label>
                            <select name="role" class="form-control">
                                <!-- <option disabled selected>বাছাই করুন.....</option> -->
                                <option <% if(user.role == 'admin') {%>selected <% } %> value="admin">এডমিন</option>
                                <option <% if(user.role == 'inspection_officer') {%>selected <% } %>
                                    value="inspection_officer">ইন্সপেকশন অফিসার</option>
                                <option <% if(user.role == 'production_officer') {%>selected <% } %>
                                    value="production_officer">প্রডাকশন অফিসার</option>
                                <option <% if(user.role == 'field_officer') {%>selected <% } %> value="field_officer">
                                    ফিল্ড অফিসার</option>
                            </select>
                        </div>
                        <button class="btn btn-primary btn-block">হালনাগাদ করুন</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="modal fade" id="changePassword">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <form action="/officers/change-password/<%=user._id%>?role=<%=userRole%>" method="POST">
                        <div class="form-group">
                            <label class="form-control-label">নতুন পাসওয়ার্ড দিন</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <button id="button" class="btn btn-warning btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Delete Profile Modal-->
    <div class="modal fade" id="deleteProile">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="deleteProfileLabel">
                        আপনি কি নিশ্চিত এই প্রোফাইলটি ডিলিট করতে চান?
                    </h5>
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form action="/officers/delete-profile/<%=user._id%>?role=<%=userRole%>" method="POST">

                        <input type="submit" value="হ্যাঁ" class="btn btn-danger btn-block m-1">
                    </form>
                    <input type="button" value="না" data-dismiss="modal" class="btn btn-success btn-block m-1">
                </div>
            </div>
        </div>
    </div>

    <!--Change Photo Modal-->
    <div class="modal fade" id="changePhoto">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <form method="POST" action="/officers/change-photo/<%=user._id%>?role=<%=userRole%>"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="form-control-label">প্রোফাইল ছবি পরিবর্তন করুন</label>
                            <input type="file" name="image" class="form-control" accept="image/*">
                        </div>
                        <input type="submit" class="btn btn-block btn-primary m-2" value="হালনাগাদ করুন">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include ../includes/footer-text.ejs %>
    <%- include ../includes/footer.ejs %>