<%- include ../includes/header.ejs %>

    <title>ড্যাশবোর্ড | ফিল্ড অফিসার</title>
</head>

<body>
    <%- include('../includes/nav.ejs', {userRole: userRole}) %>
    <%- include ../includes/dashboard.ejs %>

    <div class="row mt-2">
        <div class="col-md-6 mx-auto text-center ">
            <div class="mt-4"> 
                <a href="#" class="btn btn-block btn-outline-success p-3" data-toggle="modal" data-target="#searchAssessment">
                    এসেসমেন্টের তথ্য খুঁজুন
                </a>
            </div>
            
                <div class="mt-4">
                <a href="#" class="btn btn-block btn-outline-success p-3">প্লেট প্রিন্টিং এর সর্বশেষ আপডেট জানুন</a> 
            </div> 
            
            <div class="mt-4">
                <a href="#" class="btn btn-block btn-outline-success p-3">
                    মাঠকর্মীদের দৈনিক প্লেট অর্ডার দেখুন
                </a>  
            </div>
        </div> 
    </div>



<%- include('../includes/search-modal.ejs', {userRole: userRole}) %>
<%- include ../includes/footer-text.ejs %>
<%- include ../includes/footer.ejs %>