<%- include ../includes/header.ejs %>
<title>তথ্য সংগ্রহ ফরম পাতা-2</title>
</head>

<body>
    <%- include('../includes/nav.ejs', {userRole: userRole}) %>
    <div class="container">
        <div class="text-center mt-3">
            <h1 class=" font-weight-bold">ময়মনসিংহ সিটি কর্পোরেশন</h1>
            <h4>নগর ভবন, ময়মনসিংহ</h4>
        </div>

        <div id="formHeader" class="text-center mb-5">
            <h4 class="bg-dark text-white p-1 font-weight-bold d-inline">তথ্য বিবরণী ফরম</h4>
        </div>

        <form action="/upload-image?sid=<%=id%>" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-5">
                <label>ছবি আপলোড করুন<span>*</span></label>
                <input type="file" name="image" accept="image/*"><br>
            </div>


            <button type="submit" class="btn btn-primary btn-block">তথ্য সাবমিট করুন</button>
        </form>
    </div>

    <%- include ../includes/footer-text.ejs %>
    <%- include ../includes/footer.ejs %>